aiohttp==3.7.4.post0
asgiref==3.6.0
Django==4.2
django-debug-toolbar==4.0.0
django-ratelimit==3.0.1
django-seed==0.3.1
djangorestframework==3.14.0
django-user-agents==0.4.0
Faker==18.4.0
gunicorn==20.1.0
geoip2==4.2.0
mysqlclient==2.1.1
psycopg2==2.9.6
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
sqlparse==0.4.3
toposort==1.10
typing-extensions==3.10.0.0
tzdata==2023.3
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
requests==2.26.0
charset-normalizer==2.0.4
idna==3.2
maxminddb==2.0.3
ua-parser==0.10.0
urllib3==1.26.6
user-agents==2.2.0